*{
    padding: 0;
    margin: 0;
}

.nav-container{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
}

.nav-l{
    margin-left: 50px;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
}

.nav-r{
    margin-right: 50px;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
}

.IoIosSearch{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    font-size: 30px;
}

.nav-l ul{
    display: flex;
    flex-direction: row;
    align-items: self-end;
    gap: 10px;
}

.nav-r ul{
    display: flex;
    flex-direction: row;
    align-items: self-end;
    gap: 30px;
}

.nav-l ul li{
    list-style: none;
}
.nav-l input{
    height: 30px;
    width: 200px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 5px;
    font-size: medium;
    padding-left: 5px;
}

.nav-r ul li{
    list-style: none;

}

.cart{
    width: 70px;
    background-color: yellow;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    font-size: 20px;
    gap: 5px;
}

.RiBarChartHorizontalFill{
    height: 40px;
    font-size: 25px;
    display: flex;
    align-items: flex-end;
}

.FaRegUserCircle{
    height: 25px;
    font-size: 30px;
}

.nav-r button{
    background-color: white;
    border: none;
    font-size: 30px;
}

.dropDown{

    position: absolute;
    z-index: 0;
}

.dropDown ul{
    border: 1px solid rgb(110, 109, 109);
    background-color: rgb(231, 228, 228);
    border-radius: 10px;
    width: 100px;
    gap: 5px;
    position: absolute;
    top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.dropDownItem{
    text-decoration: none;
    color: black;
}